<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
{% load static %}
<html lang="zxx">
<head>
<title>StockPricePredction WebSite Using Deep Learning | Home :: Stock</title>
<!-- Meta-Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Smart Career Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Meta-Tags -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" /><!--bootstrap-css-->
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet"> <!--font-awesome-css-->
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" /><!--flexslider-css-->
<link href="{% static 'css/circles.css' %}" rel="stylesheet" type="text/css" media="all" /><!--skill-circles-->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" /><!--style-sheet-->
<link href="{% static 'css/newstyle.css' %}" rel="stylesheet" type="text/css" media="all" /><!--style-sheet-->
<link href="{% static 'css/aos.css' %}" rel='stylesheet prefetch' type="text/css" media="all" /><!--Animation-effects-css-->
<!--fonts-->
<link href="//fonts.googleapis.com/css?family=Cabin:400,500,600,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
<!--//fonts-->

</head>
<body>
<!--banner start here-->
<div class="banner" id="home">
<div class="agileinfo-dot">
   <div class="header">
		   <div class="header-main">
			 <div class="header-top-agileits">
		   	 <div class="container">
				<div class="w3l-social" data-aos="fade-right">
					<ul>
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
				<ul class="agile_forms" data-aos="fade-left">
					<li><a class="active" href="#" data-toggle="modal" data-target="#myModal2"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a> </li>
					<li><a href="#" data-toggle="modal" data-target="#myModal3"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Register</a> </li>
				</ul>
				<div class="clearfix"> </div>
				</div>
			</div>
		   	 <div class="container">
			<nav class="navbar navbar-default">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<h1><a href="#"><img src="{% static 'images/logo-1.png' %}" /></a></h1>
					</div>
					<!-- navbar-header -->
					<div class="collapse navbar-collapse cl-effect-13" id="bs-example-navbar-collapse-1">

						<ul class="nav navbar-nav navbar-right">
							<li><a href="index.html" class="active scroll">Home</a></li>
							<li><a href="#about" class="scroll">About</a></li>
							<li><a href="#gallery" class="scroll">Gallery</a></li>
							<li><a href="https://forms.gle/VbkQchzczt9BKFoSA" class="scroll">Contact</a></li>
						</ul>

					</div>

					<div class="w3ls_search">
													<div class="cd-main-header">
														<ul class="cd-header-buttons">
															<li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
														</ul> <!-- cd-header-buttons -->
													</div>
													<div id="cd-search" class="cd-search">
														<form action="#" method="post">
															<input name="Search" type="search" placeholder="Click enter after typing">
														</form>
													</div>
												</div>
					

					<div class="clearfix"> </div>	
				</nav>
		   </div>
		   </div>
<div class="container">
		   <div class="banner-bottom">
		   	   <section class="slider">
				 <div class="flexslider">
					<ul class="slides">
					  <li>
					  	<div class="banner-bottom-text">
					  			<h3><center style="color:red;">{{msg_sucess}}</center></h3>
						  
					 	</div>
					  </li>
					  <li>
					  	<div class="banner-bottom-text">
					  		<h3>You can  Compare to stock price of  two company </h3>
					 	</div>
					  </li>
					  <li>
					  	<div class="banner-bottom-text">
					  			<h3>You can Download stock details of csv file </h3>
						  
					 	</div>
					  </li>
					  <li>
					  	<div class="banner-bottom-text">
					  		<h3>You can predict future stock price</h3>
					 	</div>
					  </li>			  
				    </ul>
				 </div>
				 <div class="clearfix"> </div>
		      </section>
			<div class="thim-click-to-bottom">
				<a href="#about" class="scroll">
					<i class="fa fa-chevron-down" aria-hidden="true"></i>
				</a>
			</div>
			
		   </div>
		</div>
	</div>
</div>
</div>
<!--banner end here-->
	<!-- Modal2 -->
		<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
														<div class="modal-dialog">
														<!-- Modal content-->
															<div class="modal-content">
																<div class="modal-header">
																	<button type="button" class="close" data-dismiss="modal">&times;</button>
																	
																	<div class="signin-form profile">
																	<h3 class="agileinfo_sign">Login</h3>
																	{%if msg %}
																	<h3 style="color:red; font-size:medium;">{{msg}}</h3>	
																	{% endif %}
																			<div class="login-form">
																				
																				<form action="{% url 'user_login' %}" method="post">
																					{% csrf_token %}
																					<input type="email" name="email" placeholder="E-mail" required="">
																					<input type="password" name="password" placeholder="Password" required="">
																					<div class="tp">
																						<input type="submit" value="Login">
																					</div>
																				</form>
																			</div>
																			<div class="login-social-grids">
																				<ul>
																					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
																					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
																					<li><a href="#"><i class="fa fa-rss"></i></a></li>
																				</ul>
																			</div>
																			<p><a href="#" data-toggle="modal" data-target="#myModal3" > Don't have an account?</a></p>
																		</div>
																</div>
															</div>
														</div>
													</div>
													<!-- //Modal2 -->	
													<!-- Modal3 -->
													<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
														<div class="modal-dialog">
														<!-- Modal content-->
															<div class="modal-content">
																<div class="modal-header">
																	<button type="button" class="close" data-dismiss="modal">&times;</button>
																	
																	<div class="signin-form profile">
																	<h3 class="agileinfo_sign">Register</h3>
																	{%if msg %}
																	<h3 style="color:red; font-size:medium;">{{msg}}</h3>	
																	{% endif %}	
																			<div class="login-form">
																				<form action="{% url 'user_register' %}" method="post">
																					{% csrf_token %}
																				   <input type="text" name="name" placeholder="Username" required="">
																					<input type="email" name="email" placeholder="Email" required="">
																					<input type="password" name="password" placeholder="Password" required="">
																					<input type="password" name="confirm_password" placeholder="Confirm Password" required="">
																					<input type="submit" value="Register">
																				</form>
																			</div>
																			<p><a href="#"> By clicking register, I agree to your terms</a></p>
																		</div>
																</div>
															</div>
														</div>
													</div>
													
		<!-- //Modal3 -->
<!--banner bottom-->
<div class="banner-btm-w3layouts" id="about">
	<div class="container">
	<div class="tittle-agileinfo">
		<span>01</span>
		<h2>Welcome to Details</h2>
		<p >You can see shortly visualize graph,accuracy,model </p>
	</div>
		<div class="about-main">
		<div class="col-md-4 about-grids" data-aos="zoom-in">
			<i class="fa fa-bookmark-o" aria-hidden="true"></i>
			<h3 class="subheading-agileits-w3layouts">Model Summary</h3>
			<p class="para-agileits-w3layouts"><img src="{% static 'images/t3.png' %}"></p>
		</div>
		<div class="col-md-4 about-grids" data-aos="zoom-in">
			<i class="fa fa-bookmark-o" aria-hidden="true"></i>
			<h3 class="subheading-agileits-w3layouts">Model Train</h3>
			<p class="para-agileits-w3layouts"><img src="{% static 'images/t1.png' %}"></p>
		</div>
		<div class="col-md-4 about-grids" data-aos="zoom-in">
			<i class="fa fa-bookmark-o" aria-hidden="true"></i>
			<h3 class="subheading-agileits-w3layouts">Test Prediction</h3>
			<p class="para-agileits-w3layouts"><img src="{% static 'images/t2.png' %}"></p>
		</div>
		<div class="clearfix"> </div>	
		</div>
	</div>
</div>

<!--//banner bottom-->





<!-- testimonials -->
	<div class="testimonials">
		<div class="container">
		<div class="tittle-agileinfo">
			<span>02</span>
			<h3>Algorithm Defintion</h3>
			<p >Deep Learning</p>
		</div>
			<div class="w3_testimonials_grids">
				<div id="slideshow" class="disabled">
					<button class="previous"><b>« Previous</b></button>
					<button class="next"><b>Next »</b></button>
					<div class="strip">
						<div class="slide sticky">
							<div class="col-md-6 agileinfo_team_grid" data-aos="zoom-in">
								<div class="agileinfo_team_grid1">
									<div class="test-top-wthree">
									<img src="{% static 'images/t1.png' %}" alt="" />
										<div class="test-right-wthree">
											<h6>LSTM</h6>
											<p>Long Sort Term Memory, </p>
										</div>
									<div class="clearfix"> </div>
									</div>
									<div class="test-bottom-w3-agile">
										<i class="fa fa-quote-left" aria-hidden="true"></i>
										<p class="para-agileits-w3layouts">This article talks about the problems of conventional RNNs, namely, the vanishing and exploding gradients, and provides a convenient solution to these problems in the form of Long Short Term Memory (LSTM). Long Short-Term Memory is an advanced version of recurrent neural network (RNN) architecture that was designed to model chronological sequences and their long-range dependencies more precisely than conventional RNNs.</p>
									</div>
								</div>
							</div>
							<div class="col-md-6 agileinfo_team_grid" data-aos="zoom-in">
								<div class="agileinfo_team_grid1">
									<div class="test-top-wthree">
									<img src="{% static 'images/t2.png' %}">
										<div class="test-right-wthree">
											<h6>CNN</h6>
											<p>Convolutional Neural Network, </p>
										</div>
									<div class="clearfix"> </div>
									</div>
									<div class="test-bottom-w3-agile">
										<i class="fa fa-quote-left" aria-hidden="true"></i>
										<p class="para-agileits-w3layouts">A Convolutional Neural Network (CNN) is a type of deep learning algorithm that is particularly well-suited for image recognition and processing tasks. It is made up of multiple layers, including convolutional layers, pooling layers, and fully connected layers.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="slide">
							<div class="col-md-6 agileinfo_team_grid" data-aos="zoom-in">
								<div class="agileinfo_team_grid1">
									<div class="test-top-wthree">
									<img src="{% static 'images/t3.png' %}" alt="" />
										<div class="test-right-wthree">
											<h6>Decision Treee</h6>
											<p>Decision Tree is a Supervised learning</p>
										</div>
									<div class="clearfix"> </div>
									</div>
									<div class="test-bottom-w3-agile">
										<i class="fa fa-quote-left" aria-hidden="true"></i>
										<p class="para-agileits-w3layouts">Decision Tree is a Supervised learning technique that can be used for both classification and Regression problems.</p>
									</div>
								</div>
							</div>
							<div class="col-md-6 agileinfo_team_grid" data-aos="zoom-in">
								<div class="agileinfo_team_grid1">
									<div class="test-top-wthree">
									<img src="{% static 'images/t4.png' %}" alt="" />
										<div class="test-right-wthree">
											<h6>Logistic Regression</h6>
											<p>Logistic regression is a supervised machine learning algorithm</p>
										</div>
									<div class="clearfix"> </div>
									</div>
									<div class="test-bottom-w3-agile">
										<i class="fa fa-quote-left" aria-hidden="true"></i>
										<p class="para-agileits-w3layouts">Logistic regression is a supervised machine learning algorithm that accomplishes binary classification tasks by predicting the probability of an outcome, event, or observation</p>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				
			</div>
		</div>
	</div>
<!-- //testimonials -->
<!-- newsletter -->
<div class="agileits_w3layouts newsletter">
	<div class="container">
		<div class="col-md-6 news-left" data-aos="fade-up">
			<h3 class="f-w3ls">Follow us on</h3>
			<div class="follow-left-agileits">
			
			</div>
			<div class="follow-right-agileinfo">
				<ul>
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i><span>Facebook</span></a></li>
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i><span>Twitter</span></a></li>
					<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i><span>Google</span></a></li>
					<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i><span>Linkedin</span></a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-6 news-right" data-aos="fade-up">
		<h3>To Subscribe</h3>
		<p>connect me</p>
			<form action="#" method="post">
				{% csrf_token %}
				<input class="email" type="email" name="Email" placeholder="Email" required="">
				<input type="submit" value="Submit">
			</form>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- //newsletter -->
<!-- map -->
	<div class="map">
		<ul class="faq">
			<li class="item1"><a href="#">Location<span class="glyphicon glyphicon-menu-down"></span></a>
				<ul>
					<li class="subitem1">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.8728361581625!2d73.87789907491812!3d18.534647768744613!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c0f855581855%3A0x9bfc35605df36ec5!2sModern%20Education%20Society&#39;s%20Wadia%20College%20of%20Engineering%20(MESWCOE)!5e0!3m2!1sen!2sin!4v1715581572563!5m2!1sen!2sin"></iframe>
					</li>										
				</ul>
			</li>
		</ul>
	</div>
<!-- //map -->

<!-- contact -->
	<div class="contact" id="contact">
		<div class="container">
		<div class="tittle-agileinfo">
			<span>03</span>
			<h3>Contact Info</h3>
			<p >MESWCOE</p>
		</div>
			<div class="agile-contact-grids">
					<div class="col-md-6 address-grid" data-aos="flip-left">
						<h4>Our Address</h4>
						<ul class="w3_address">
							<li><span>Address 1</span>Modern Education Society's Wadia College of Engineering (MESWCOE)</li>
							<li><span>Phone</span>+91 9876543210</li>
							<li><span>Address 2</span>8, Bund Garden Rd, Sangamvadi, Pune, Maharashtra 411001</li>
							<li><span>Email</span><a href="mailto:info@example.com">kaustubh1250@gmail.com</a></li>
						</ul>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-6 contact-form" data-aos="flip-up">
						<h4>Contact Form</h4>
						<form action="#" method="post">
							{% csrf_token %}
							<div class="styled-input agile-styled-input-top">
								<input type="text" name="Name" placeholder="" required="">
								<label>Name</label>
								<span></span>
							</div>
							<div class="styled-input">
								<input type="email" name="Email" placeholder="" required=""> 
								<label>Email</label>
								<span></span>
							</div> 
							<div class="styled-input">
								<input type="text" name="Subject" placeholder="" required="">
								<label>Subject</label>
								<span></span>
							</div>
							<div class="styled-input">
								<textarea name="Message" placeholder="" required=""></textarea>
								<label>Message</label>
								<span></span>
							</div>	 
							<input type="submit" value="SEND">
						</form>
					</div>
				<div class="clearfix"> </div>
			</div>
			<!--footer-->
			<div class="copy">
				
		        <p>Copyright © 2024 Made By SKAM With Love <a href="#">self</a> </p>
		    </div>
			<!--/footer -->
		</div>
	</div>
	<!-- //contact -->

<!-- js -->
<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<!--search-bar-->
		<script src="{% static 'js/main.js' %}"></script>	
<!--//search-bar-->
<!-- FlexSlider -->
				  <script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
				  <script type="text/javascript">
					$(function(){				 
					});
					$(window).load(function(){
					  $('.flexslider').flexslider({
						animation: "slide",
						start: function(slider){
						  $('body').removeClass('loading');
						}
					  });
					});
				  </script>
<!-- FlexSlider -->
<!-- clients-slider-script -->
				<script src="{% static 'js/slideshow.min.js' %}"></script>
				<script src="{% static 'js/launcher.js' %}"></script>
<!-- //clients-slider-script -->
<!-- /circle-->
	 <script type="text/javascript" src="{% static 'js/circles.js' %}"></script>
					         <script>
								var colors = [
										['#ffffff', '#fd9426'], ['#ffffff', '#fc3158'],['#ffffff', '#53d769'], ['#ffffff', '#147efb']
									];
								for (var i = 1; i <= 4; i++) {
									var child = document.getElementById('circles-' + i),
										percentage = 30 + (i * 10);
										
									Circles.create({
										id:         child.id,
										percentage: percentage,
										radius:     80,
										width:      10,
										number:   	percentage / 1,
										text:       '%',
										colors:     colors[i - 1]
									});
								}
						
				</script>
	<!-- //circle -->
	<!-- for-Map -->
		<script type="text/javascript">
			$(function() {
			
				var menu_ul = $('.faq > li > ul'),
					   menu_a  = $('.faq > li > a');
				
				menu_ul.hide();
			
				menu_a.click(function(e) {
					e.preventDefault();
					if(!$(this).hasClass('active')) {
						menu_a.removeClass('active');
						menu_ul.filter(':visible').slideUp('normal');
						$(this).addClass('active').next().stop(true,true).slideDown('normal');
					} else {
						$(this).removeClass('active');
						$(this).next().stop(true,true).slideUp('normal');
					}
				});
			
			});
		</script>
<!-- //for-Map -->
<script src="{% static 'js/jzBox.js' %}"></script>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
			};s
		*/								
		$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
<!-- Animation-effect -->
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'js/aosindex.js' %}"></script>
<!-- //Animation-effect -->
	<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<script src="{% static 'js/bootstrap.js' %}"></script>

</body>
</html>